
body{
    font-family: var(--ff-figtree), sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 1em;
    overflow: hidden;
    display: grid;
    grid-template-rows: max-content max-content max-content 1fr;
    grid-template-areas:
      "header"
      "bar"
      "text"
      "buttons";
      @media (min-width:600px) {
        justify-content: center;
      }

}

.header{
    grid-area: header;
}


/*Progress Bar */
progress{
  grid-area: bar;
  background-color: var(--bg-primary);
  color: var(--bg-primary);
  height:1em;
  @media (min-width:600px) {
    width: 70vw;
  }
}
/* Mozilla progress bar */
progress::-moz-progress-bar { 
  background: var(--text-primary);
  color: var(--bg-primary);}
/* Safari & Edge progress bar */
progress::-webkit-progress-value { 
  background-color: var(--bg-primary);
  background: var(--text-primary);
  color: var(--bg-primary);}


.text{
    grid-area: text;
    width: 30em;
    place-self: auto start;
}

/* De plaatjes/logos en hun posities */
.logo {
    position: absolute;
    left: -7.5em;
    top: 21.21%;
    z-index: -1;  
    @media (min-width:600px) {
        left: 60em;
    }
  }

.logo img {
    width: 18em;
    @media (min-width:600px) {
        width: 30em;
    }
  }
  
.blur img{
    width: 40em;
    opacity: 50%;
    @media (min-width:600px) {
        width: 80em;
    }
  }
  
/* De blurs en hun posities */

  .rechtsboven{
    position: absolute;
    right: -20em;
    top: -20em;
    z-index: -1;  
  }

  .rechtsmidden{
    position: absolute;
    right: -20em;
    z-index: -1;  
  }

  .rechtsonder{
    position: absolute;
    right: -17em;
    bottom: -18em;
    z-index: -1;
    @media (min-width:600px) {
        right: -34em;
        bottom: -36em;
    }
  }

  .linksboven{
    position: absolute;
    left: -20em;
    top: -20em;
    z-index: -1;  
  }

  .linksmidden{
    position: absolute;
    left: -20em;
    z-index: -1;  
  }

  .linksonder{
    position: absolute;
    left: -17em;
    bottom: -18em;
    z-index: -1;  
  }

  .transparent img{
    opacity: 25%;;
  }

  .mobile{
    @media (min-width:600px) {
        display: none;
      }
  }

  .desktop{
  @media (max-width:600px) {
    display: none;
  }
  }
  