
body{
    font-family: var(--ff-figtree), sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 1em;
    overflow: hidden;
    display: grid;
    grid-template-rows: 5em max-content max-content 1fr;
    grid-template-areas:
      "header"
      "bar"
      "text"
      "buttons";
      @media (min-width:600px) {
        justify-content: center;
      }

}

.header{
    grid-area: header;
}

.hidden{
  display:none;
}

/*Progress Bar */
progress{
  grid-area: bar;
  background-color: var(--inactive-color);
  color: var(--bg-primary);
  height:1em;
  @media (min-width:600px) {
    width: 70vw;
  }
}
/* Mozilla progress bar */
progress::-moz-progress-bar { 
  background: var(--text-primary);
  color: var(--inactive-color);}
/* Safari & Edge progress bar */
progress::-webkit-progress-value { 
  background-color: var(--inactive-color);
  background: var(--text-primary);
  color: var(--inactive-color);}


.inhoud{
    grid-area: text;
    max-width: 30em;
    place-self: auto start;
    padding: 2em;
}

.container{
  position:static;
  display:flex;
}

article{
  min-width: 20vw;
  padding: 2em;
}

.groot{
  font-size: var(--font-large);
}

.knop{
  position: absolute;
  bottom: 3em;
  left:15em;
}

.arrow{
  height:3em;
  align-content: center;
}

.⬅{
  position:absolute;
  bottom:5em;
  left:5em;
}

.➡{
  position:absolute;
  bottom:5em;
  right:5em;
}

/* De plaatjes/logos en hun posities */
.logo {
    position: absolute;
    top: 21.21%;
    z-index: -1; 
    @media (max-width:599px) {
      left: -7.5em;
  }
    @media (min-width:600px) {
        right: 1em;
    }
  }

.logo img {
    width: 18em;
    @media (min-width:600px) {
        width: 30em;
    }
  }
  
.blur img{
    width: 40em;
    opacity: 50%;
    @media (min-width:600px) {
        width: 80em;
    }
  }
  
/* De blurs en hun posities */

  .rechtsboven{
    position: absolute;
    right: -20em;
    top: -20em;
    z-index: -1;
    @media (min-width:600px) {
        right: -40em;
        top: -40em;
    }
  }

  .rechtsmidden{
    position: absolute;
    right: -20em;
    z-index: -1;
    @media (min-width:600px) {
        right: -40em;
    }
  }

  .rechtsonder{
    position: absolute;
    right: -17em;
    bottom: -18em;
    z-index: -1;
    @media (min-width:600px) {
        right: -34em;
        bottom: -36em;
    }
  }

  .linksboven{
    position: absolute;
    left: -20em;
    top: -20em;
    z-index: -1;  
    @media (min-width:600px) {
        right: -40em;
        top: -40em;
    }
  }

  .linksmidden{
    position: absolute;
    left: -20em;
    z-index: -1;
    @media (min-width:600px) {
        left: -40em;
    }
  }

  .linksonder{
    position: absolute;
    left: -17em;
    bottom: -18em;
    z-index: -1;
    @media (min-width:600px) {
        left: -34em;
        bottom: -36em;
    }  
  }

  .middenonder{
    position: absolute;
    bottom: -18em;
    z-index: -1;
    @media (min-width:600px) {
        bottom: -40em;
    }
  }

  .transparent img{
    opacity: 25%;;
  }

  .mobile{
    @media (min-width:600px) {
        display: none;
      }
  }

  .desktop{
  @media (max-width:600px) {
    display: none;
  }
  }
  